.currency-modal {
  position: absolute;
  top: 61px;
  left: -165px;
  z-index: 11;
  display: block;
  width: 340px;
  box-shadow: 0 0 10px 0 rgba(0, 26, 89, 0.10);
  padding: 20px;
  border-radius: 15px;
  background: var(--second-bg);

}