.favorites-modal {
  display: none;
  position: fixed;
  top: 88px;
  border-radius: 15px;
  background: var(--second-bg);
  width: calc(100% - 32px);
  max-width: 1408px;
  z-index: 4;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 4px 40px 0 rgba(35, 42, 72, 0.06);
  @include tablet{
    margin: 12px auto 0 auto;
  }
  @include smallDesktop {
    display: block;
  }
  &__close-btn {
    position: absolute;
    top: 28px;
    right: 28px;
    .icon--close {
      width: 16px;
      min-width: 16px;
      height: 16px;
      stroke: var(--icon-main);
      fill: var(--icon-main);
    }
  }

  &__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.48px;
    color: var(--text-info);
    margin-bottom: 24px;
    display: block;
    @include tablet{
      display: none;
    }
  }

  &__list {
    display: flex;
    overflow: auto;
    @include tablet {
      column-gap: 12px;
    }
    @include smallDesktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-wrap: wrap;
    }

    @include desktop {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
    }

    &-item {
      width: 300px;
      min-width: 300px;
      @include tablet {
        width: 426px;
        min-width: 426px;
      }
      @include smallDesktop {
        width: 490px;
        min-width: auto;
      }

      .game-status-card__wrap {
        padding: 0;
      }
      .game-status-card {
        background: transparent;
        box-shadow: none;
        align-items: flex-start;

        &__img {
          width: 100px;
          min-width: 100px;
          height: 100px;
          border-radius: 15px;
          @include tablet {
            width: 116px;
            min-width: 116px;
            height: 116px;
          }
        }

        &__title {
          margin-bottom: 8px;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
        }
        .game-status-card__list-titles {
          order: 4;
        }
        .game-status-card__list-buttons {
          order: 3;
        }
        .status-card {
          min-width: 0;
          width: 0;
          margin-left: 0;
        }
      }
    }
  }
  .three-items {
    .favorites-modal__list-item {
      @include desktop {
        flex-shrink: 1;
        width: 441px;
      }
    }
  }
  .four-items {
    .favorites-modal__list-item {
      @include desktop {
        flex-shrink: 1;
        width: 328px;
      }
    }
  }
}