.my-games {
  border: 0;
  width: 100%;
  background: var(--second-bg );
  padding-top: 10px;
  overflow: hidden;
  transition: height 0.5s ease;
  margin: 0 auto 26px auto;
  @media (min-width: 635px) {
    background: var(--second-bg );
    padding-top: 16px;
    max-width: 1408px;
    width: calc(100% - 32px);
    border-radius: 20px;
    margin: 16px auto 11px auto;

  }
  @include smallDesktop {
    margin-bottom: 18px;
    margin-top: 11px;
  }
  @include desktop {
    margin-top: 13px;
  }
  &__top-wrap {
    @include flex-between;
    .my-games__btn {
      margin-right: 20px;
      margin-top: 8px;
      @include desktop {
        margin-top: 10px;
      }
    }
    .icon--close {
      width: 16px;
      min-width: 16px;
      height: 16px;
      stroke: var(--icon-main);
      fill: var(--icon-main);
    }
  }


  &__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: var(--title-color);
    margin-left: 16px;
    @include tablet {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.48px;
      display: block;

    }
  }

  &__list {
    display: flex;
    overflow: auto;
    @include tablet {
      column-gap: 12px;
    }
    @include smallDesktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-wrap: wrap;
    }

    @include desktop {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
    }
    &-item {
      width: 300px;
      min-width: 300px;
      @include tablet {
        width: 426px;
        min-width: 426px;
      }
      @include smallDesktop {
        width: 490px;
        min-width: auto;
      }

      .game-status-card__wrap {
        padding: 0;
      }
      .game-status-card {
        background: transparent;
        box-shadow: none;
        align-items: flex-start;

        &__img {
          width: 100px;
          min-width: 100px;
          height: 100px;
          border-radius: 15px;
          @include tablet {
            width: 116px;
            min-width: 116px;
            height: 116px;
          }
        }

        &__title {
          margin-bottom: 8px;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
        }
        .game-status-card__list-titles {
          order: 4;
        }
        .game-status-card__list-buttons {
          order: 3;
        }
        .game-status-card__wrap-order {
          justify-content: flex-start;
        }
        .status-card {
          min-width: 0;
          width: 0;
        }
      }
    }
    .my-games__list-item--hidden {
        display: none;
      @include smallDesktop {
        display: block;
      }
    }
  }
  .three-items {
    .my-games__list-item {
      @include desktop {
        flex-shrink: 1;
        width: 441px;
      }
    }
  }
  .four-items {
    .my-games__list-item {
      @include desktop {
        flex-shrink: 1;
        width: 328px;
      }
    }
  }
}

