.secret-chat {
  padding: 40px 0 383px 0;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 343px;
    height: 296px;
    background: url("./../../img/bg-chat-mob.png") no-repeat center bottom;
    background-size: 343px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
  }
  @include tablet {
    height: 941px;
    padding: 0;
    background: none;
    &:after {
      content: "";
      display: none;
    }
  }
  &__wrap {
    @include tablet {
      position: absolute;
      background: var(--second-bg);
      top: 150px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
      width: 100%;
      border-radius: 15px;
    }
    @include smallDesktop {
      width: 827px;
      top: 158px;
    }
    @include desktop {
      width: 900px;
      top: 132px;
    }

  }
  .chat-header-wrap {
    border-bottom: 3px solid var(--main-bg);
    @include tablet {
      @include flex-between;

    }
  }
  .chat-header {
    @include tablet {
      padding: 12px 16px;
    }
    @include smallDesktop {
      flex-direction: row !important;
      align-items: center;
      gap: 19px;
      padding: 16px;
    }
    @include desktop {
      gap: 55px;
    }
    &__title {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -0.48px;
      color: var(----dark-gray);
      margin-bottom: 12px;
      @include tablet {
        margin-bottom: 4px;
      }
      @include smallDesktop {
        margin-bottom: 0;
      }
    }
    .icon--info {
      width: 20px;
      min-width: 20px;
      height: 20px;
      fill: var(--gray);
      margin-top: -2px;
    }
    &__info-wrap {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      margin-bottom: 24px;
      @include tablet {
        margin-bottom: 0;
      }
    }
    &__alert {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.14px;
      color: var(--light-grey);
      a {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.14px;
        color: var(--main-blue);
      }
    }
  }
  .chat-mobile {
    @include tablet {
      display: none;
    }
  }
  .chat-tablet {
    display: none;
    @include tablet {
      display: flex;
      flex-direction: column;
    }

  }
  .chat-messages {
    border-radius: 15px;
    overflow: hidden;
    background: var(--second-bg);
    .complaint {
      padding: 6px 8px 4px 8px;
      @include tablet {
        @include flex-center;
        gap: 8px;
        height: 43px;
      }
      &__icon-wrap {
        @include flex-center;
        background: var(--soc-bg);
        width: 40px;
        height: 40px;
        border-radius: 8px;
        .icon--alert {
          width: 32px;
          height: 32px;
          stroke: var(--text-input);
        }
        @include tablet {
          width: 43px;
          height: 43px;
        }
        @include desktop {
          width: 48px;
          height: 48px;
        }
      }
      &__btn {
        @include flex-center;
        gap: 8px;
        span {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: -0.32px;
          color: var(--text-info);
        }
      }
      &__btn-new {
        display: none;
        @include tablet {
          background: var(--soc-bg);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 110%;
          letter-spacing: -0.16px;
          border-radius: 8px;
          min-height: 43px;
          padding: 0 14px;
          @include flex-center;
          gap: 6px;
          .icon--arrow-diagonal {
            width: 20px;
            height: 20px;
            stroke: var( --text-input);
          }
        }
        }

    }
    .chat-content {
      height: 504px;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      padding: 16px;
      @include tablet {
        height: 508px;
      }
    }
    .message {
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-width: 100%;
      margin-right: auto;
      margin-bottom: 12px;
      &__item {
        display: flex;
        gap: 8px;
        @include tablet {
          gap: 16px;
        }
        .avatar img{
          width: 30px;
          min-width: 30px;
          height: 30px;
          @include tablet {
            width: 48px;
            min-width: 48px;
            height: 48px;
          }
        }
        &-content {
          background: var(--main-light-blue);
          padding: 12px 16px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          border-radius: 0 20px 20px 20px;
          @include tablet {
            max-width: 602px;
          }
          &-username {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            display: block;
            color: var(--title-color);
          }
          &-text {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            color: var(--title-color);
            display: block;
            word-wrap: break-word;
            word-break: break-word;
            @include tablet {
              font-size: 14px;
              line-height: 20px;
            }
          }
          &-time {
            margin-left: auto;
          }
        }
      }
    }
    .my-message {
      display: flex;
      flex-direction: column;
      background: var(--main-mid-blue);
      margin: auto 0 12px auto;
      gap: 5px;
      padding: 12px 16px;
      border-radius: 20px 20px 0 20px;
      max-width: 100%;
      @include tablet {
        max-width: 602px;
      }
      &__text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        color: var(--title-color);
        display: inline-block;
        width: 100%;
        @include tablet {
          font-size: 14px;
          line-height: 20px;
        }
      }
      &__time {
        margin-left: auto;
      }
    }
    .chat-input {
      @include flex-between;
      padding: 8px 16px;
      border-top: 2px solid var(--main-bg);
      gap: 15px;
      input {
        flex-grow: 1;
        &::placeholder {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          letter-spacing: -0.16px;
          color: var(--text-input);
        }
      }
      button {
        width: 42px;
        min-width: 42px;
        height: 42px;
        border-radius: 8px;
        background: var(--main-light-blue);
        @include flex-center;
        .icon--arrow {
          width: 24px;
          height: 24px;
          stroke: var(--main-blue);
          transform: rotate(-180deg);
        }
      }
    }
  }


}