.accept-cookies-modal {
  width: calc(100% - 32px);
  background: var(--main-blue);
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
  padding: 20px;
  position: fixed;
  z-index: 10;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: 0 auto;
  @media (min-width: 375px) {
    left: unset;
    right: 16px;
    width: 100%;
    transform: none;
    max-width: 343px;
  }

  @include largeDesktop {
    bottom: 64px;
    right: 38px;
  }

  &__message {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: var(--white-text);
    margin-bottom: 16px;
  }

  &__btns {
    @include flex-center;
    height: 36px;
  }

  &__btn {
    flex-grow: 1;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.14px;
    color: var(--white-text);
    height: 100%;
    border-radius: 8px;
    @include flex-center;

    &.active {
      background: var(--main-light-blue);
      color: var(--title-color);
    }
  }
}
