
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  background: var(--main-light-blue);
  padding: 9px;
  border-radius: 8px;
  min-width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  cursor: pointer;
}

.swiper-button-prev .icon--arrow,
.swiper-button-next .icon--arrow {
  min-width: 25px;
  height: 24px;
  stroke: var(--main-blue);
}

.swiper-button-next .icon--arrow {
  transform: rotate(-180deg);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}