.first-favorites-menu {
  position: absolute;
  background-color: var(--dark-bg);
  top: 0;
  width: 100%;
  z-index: 3;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  @include flex-center;
   &__top {
     background: var(--second-bg);
     width: calc(100% - 32px);
     position: relative;
     top:40px;
     border-radius: 16px;
     padding: 16px;
     height: 56px;
     @include flex-between;
     .icon--heart {
       width: 16px;
       min-width: 16px;
       height: 16px;
       stroke: var(--gray);
       margin-right: 6px;
       margin-bottom: -3px;
     }
     &-title {
       font-size: 16px;
       font-style: normal;
       font-weight: 400;
       line-height: 24px;
       letter-spacing: -0.16px;
       color: var(--dark-gray);
     }
     .first-favorites-menu_top-btn {
       transform: rotate(-90deg);
       margin-right: -3px;
       .icon--arrow-small {
         width: 16px;
         min-width: 16px;
         height: 16px;
         stroke: var(--gray);
       }
     }

   }
  .favorites-message-modal {
    top:33px;
    position: relative;
    @include tablet {
      margin-right: auto;
      margin-left: 0;

    }
  }
}