@font-face {
	font-family: 'Onest';
	font-display: swap;
	src: url("../fonts/Onest-SemiBold.woff2") format("woff2"), url("../fonts/Onest-SemiBold.woff2.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Onest';
	font-display: swap;
	src: url("../fonts/Onest-Regular.woff2") format("woff2"), url("../fonts/Onest-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Onest';
	font-display: swap;
	src: url("../fonts/Onest-Medium.woff2") format("woff2"), url("../fonts/Onest-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

