:root {
  --container-padding-large-desktop:64px;
  --container-width-small-desktop: 1024px;
  --container-width-desktop: 1408px;
  --container-width-tablet: 767px;
  --container-padding: 16px;
  --font-main: 'Onest', sans-serif;
  --container-right: 1424px; //на одну ширину паддинга большн основного контейнера
  --height100vh: calc(var(--vh, 1vh) * 100);


  --gradient: radial-gradient(40.35% 22.78% at 26.42% 58.55%, rgba(225, 246, 253, 0.00) 0%, rgba(225, 246, 253, 0.20) 100%), linear-gradient(180deg, #E1F6FD 0%, #DCE1F8 45%, #DCE1F8 72.18%, #F5F6FB 100%);
  --green-gradient: linear-gradient(90deg, #00D283 0%, #00C2E3 100%);
  --blue-gradient:linear-gradient(304deg, #25ABE4 0%, #255FE4 100%);
  --shadow-slider-gradient:  linear-gradient(84deg, rgba(245, 246, 251, 0.00) 5.38%, #F5F6FB 78.73%);
  --green: #00D283;
  --main-blue: #255FE4;
  --main-mid-blue: #A8BFF4;
  --main-light-blue: #E9EFFC;
  --title-color: #151515;
  --text-color: #1A1A1A;
  --link-color: #255FE4;
  --bg-card-gradient: linear-gradient(274deg, #255FE4 0%, #255FE4 11.13%, #002884 74.22%);
  --bg-card-stories: linear-gradient(184deg, rgba(0, 0, 0, 0.00) 3.5%, rgba(0, 0, 0, 0.60) 104.82%);
  --laptop-size: 1440px;
  --tablet-size: 959px;
  --mobile-size: 599px;
  --white-text: #FFFFFF;
}

body.light {
  --gradient: radial-gradient(40.35% 22.78% at 26.42% 58.55%, rgba(225, 246, 253, 0.00) 0%, rgba(225, 246, 253, 0.20) 100%), linear-gradient(180deg, #E1F6FD 0%, #DCE1F8 45%, #DCE1F8 72.18%, #F5F6FB 100%);
  --main-bg: #F5F6FB;
  --second-bg: #ffffff;
  --title-color: #151515;
  --text-color: #1A1A1A;
  --link-color: #255FE4;
  --main-bg-gradient: linear-gradient(180deg, #F5F6FB 0%, #D4DBFF 36.5%, #D4F5FF 49.5%, #DAD4FF 62.5%, #D4F5FF 75.5%, #F5F6FB 100%);
  --bg-card-blue-gradient: linear-gradient(274deg, #255FE4 0%, #255FE4 11.13%, #002884 74.22%);
  --bg-card-red-gradient: linear-gradient(297deg, #A61908 1.61%, #6D111C 81.01%);
  --bg-card-purple-gradient: linear-gradient(297deg, #C925E4 1.61%, #5D11D9 81.01%);
  --left-fog: linear-gradient(
                  to left,
                  rgba(245, 246, 251, 0) 0%,
                  rgba(245, 246, 251, 0.1) 20%,
                  rgba(245, 246, 251, 0.3) 40%,
                  rgba(245, 246, 251, 0.5) 60%,
                  rgba(245, 246, 251, 0.8) 80%,
                  rgba(245, 246, 251, 1) 100%
  );
  --right-fog: linear-gradient(
                  to right,
                  rgba(245, 246, 251, 0) 0%,
                  rgba(245, 246, 251, 0.1) 20%,
                  rgba(245, 246, 251, 0.3) 40%,
                  rgba(245, 246, 251, 0.5) 60%,
                  rgba(245, 246, 251, 0.8) 80%,
                  rgba(245, 246, 251, 1) 100%
  );
  --icon-main: #151515;
  --text-stories: #ffffff;
  --soc-bg: #E9EFFC;
  --text-info: #666E81;
  --p-color: #151515;
  --line: #E9EFFC;
  --border-checkbox: #364157;
  --color-btn-white: #ffffff;
  --gray-bg: #F7F8FD;
  --gray-color:#E4E7EF;
  --text-input: #364157;
  --light-grey: #959CAA;
  --red: #F44336;
  --blue :#A8BFF4;
  --gray: #818DA6;
  --dark-gray: #07122E;
  --dark-bg: rgba(0, 0, 0, 0.80);
  --gray-line: #E9EBF6;

}