<div class="accept-cookies-modal" id="accept-cookies-modal"
     role="dialog" aria-live="assertive" aria-labelledby="accept-cookies-modal-message">
    <p id="accept-cookies-modal-message" class="accept-cookies-modal__message">
        Мы используем файлы куки, без них сайт будет плохо работать и вам будет неудобно им пользоваться.
    </p>
    <div class="accept-cookies-modal__btns">
        <button class="accept-cookies-modal__btn active" id="accept-all" type="button" aria-label="Принять все файлы куки">Принять все</button>
        <button class="accept-cookies-modal__btn" type="button" aria-label="Настроить файлы куки">Настроить</button>
    </div>
</div>

