<div class="advertising-wrap" aria-labelledby="advertising-title">
    <div class="advertising  @@class">
        <div class="advertising__img-wrap">
            <picture aria-hidden="true">
                <source srcset="./img/advertising/advertising@2x.jpg 2x, ./img/advertising/advertising.jpg 1x"
                        media="(max-width: 768px)">
                <source srcset="./img/advertising/advertising-decst@2x.jpg 2x, ./img/advertising/advertising-decst.jpg 1x"
                        media="(min-width: 768px)">
                <img class="advertising__img" src="./img/advertising/advertising.jpg" alt="game img">
            </picture>
            <div class="advertising__img-label-wrap" aria-label="Seller and Offer Info">
                <span class="advertising__img-label">879 продавцов</span>
                <span class="advertising__img-label">11 574 предложения</span>
            </div>
        </div>
        <div class="advertising__content">
            <h3 class="advertising__title" id="advertising-title">
                Roblox
            </h3>
            <div class="advertising__list-wrap" aria-labelledby="possibilities-title">
                <span class="advertising__list-title" id="possibilities-title">Возможности</span>
                <ul class="advertising__list advertising__list--first">
                    <li class="advertising__list-item">
                        <a href="#"> Робуксы </a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Подарочные карты</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Донат робуксов (паки)</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Premium</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Аккаунты</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Скины</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Прочее</a>
                    </li>
                </ul>
            </div>
            <div class="advertising__list-wrap" aria-labelledby="games-title">
                <span class="advertising__list-title" id="games-title">Игры</span>
                <ul class="advertising__list advertising__list--second">
                    <li class="advertising__list-item">
                        <a href="#">GPO</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Pet Simulator X</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">YBA</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Jailbreak</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">MM2</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Adopt Me</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">AUT</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Blox Fruits</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">ASTD</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">King Legacy</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Anime Adventures</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Project Slayers</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Arm Wrestle Simu</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Prime Gaming</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Toilet Tower Def</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Studio</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Blade Ball</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Da Hood</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Tower Defense Si</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Jujutsu Infinite</a>
                    </li>
                    <li class="advertising__list-item">
                        <a href="#">Прочее</a>
                    </li>
                </ul>
            </div>
            <span class="status-card status-card--top advertising__status" aria-label="top status">
                топ
            </span>
        </div>
    </div>
</div>