<div class="alert" role="alert" id="alert-modal" aria-live="assertive">
    <div class="alert__wrap">
        <span class="alert__title"> Внимание! </span>
        <p class="alert__text">
           16 января с 02:00 до 02:30 мск на сайте будут проводиться работы по обновлению профилей. Данные
            баланса в этот период будут недоступны.
        </p>
        <button type="button" class="alert__btn-close" aria-label="Закрыть уведомление">
            <svg class="icon icon--close" aria-hidden="true">
                <use href="./img/svgsprite/sprite.symbol.svg#close"></use>
            </svg>
        </button>
    </div>
</div>
