<div class="captcha">
    <div class="captcha__spinner">
        <label>
            <input type="checkbox" class="captcha-checkbox">
            <span class="checkmark"><span></span></span>
        </label>

    </div>
    <div class="captcha__text">
        Я не робот
    </div>

    <div class="captcha__logo">
        <img src="img/capcha.svg" alt="logotype captcha" width="33" height="33"/>
        <span class="captcha__logo-title">reCAPTCHA</span>
        <span class="captcha__logo-text">Конфиденциальность - Условия использования</span>
    </div>
</div>
