<div class="cookie-preferences container" role="dialog" id="cookie-preferences" style="display: none" aria-labelledby="cookie-preferences-title">
    <div class="cookie-preferences__title-wrap">
        <h2 class="cookie-preferences__title" id="cookie-preferences-title">
            Cookie Preferences
        </h2>
        <button class="cookie-preferences__btn" type="button" aria-label="close" tabindex="0">
            <svg class="icon icon--close">
                <use href="./img/svgsprite/sprite.symbol.svg#close"></use>
            </svg>
        </button>
    </div>
    <p class="cookie-preferences__text">
        Each website you visit may store or retrieve data in your browser. This data and storage of said data are often
        necessary and important for the basic functionality of the website and connected services. The storage of such
        data (often called cookies) may be used for marketing, analytics, and to provide a personalised experience, for
        example, to store your preferences. We value your privacy, so you have the following options to choose from
        regarding your data. You can disable certain types of storage if they are not necessary for the basic
        functioning of the website.

    </p>
    <p class="cookie-preferences__text">
        If you need more information about each category of cookies we store and why we store them – please consult our
        <a href="#" aria-label="Cookie Policy">Cookie Policy </a> and <a HREF="#" aria-label="Privacy Policy">Privacy Policy</a>. For data requests (including your personal data) –
        please see our<a href="#" aria-label="Data Subject Access Requests (DSARs) Guidance"> Data Subject Access Requests (DSARs) Guidance</a>.
    </p>
    <div class="essential">
        <label class="essential__checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-view">
                 <svg class="icon--check" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                         d="M14.6888 3.76577C14.7553 3.82397 14.8095 3.89482 14.8484 3.97418C14.8873 4.05354 14.9099 4.13984 14.9152 4.22805C14.9204 4.31626 14.908 4.40463 14.8787 4.48801C14.8495 4.5714 14.804 4.64814 14.7448 4.71377L7.73546 12.4931C7.67601 12.559 7.604 12.6123 7.52366 12.65C7.44332 12.6877 7.35626 12.709 7.26759 12.7126C7.17892 12.7162 7.09043 12.702 7.0073 12.671C6.92416 12.6399 6.84806 12.5926 6.78346 12.5318L2.72746 8.71377C2.60578 8.59758 2.53211 8.43998 2.521 8.27211C2.50989 8.10424 2.56215 7.9383 2.66746 7.8071C2.72431 7.73597 2.79501 7.67713 2.87529 7.63416C2.95557 7.59119 3.04374 7.56498 3.13445 7.55712C3.22517 7.54927 3.31653 7.55993 3.403 7.58846C3.48947 7.61699 3.56924 7.6628 3.63746 7.7231L6.78413 10.5538C6.91552 10.672 7.08849 10.7333 7.26501 10.724C7.44153 10.7148 7.60716 10.6358 7.72546 10.5044L13.7541 3.81977C13.8715 3.68966 14.0353 3.61098 14.2103 3.60075C14.3852 3.59052 14.5571 3.64956 14.6888 3.7651V3.76577Z"
                           fill="#151515"/>
                 </svg>
             </span>
            Essential
        </label>
        <p class="essential__text">These cookies are essential for the proper functioning of the website. Their
            deactivation compromises the use
            of the services accessible from login.</p>
    </div>
    <div class="cookie-preferences__examples">
        <span role="button" aria-label="Open examples" id="toggle-button" aria-expanded="false">
            Examples (click to expand)
        </span>
        <div class="cookie-preferences__examples-block"  id="examples-block">
            <p>
                "PHPSESSID" – when you visit Our site for the first time and until you register with Us, this is the only cookie used on our website to store your choices. Without this cookie, the registration process will not be possible, and some essential website elements will not work (e.g. CAPTCHA tests). This cookie is deleted when your browsing session ends.
            </p>
            <p>
                "golden_key" – stores your choices during registration and helps us remember your choices. Without this cookie, you cannot sign in or sign up for our services. The storage period is 100 days.
            </p>
            <p>
                "locale" and "cy" – are used to store your choices regarding preferred language and currency. The storage period is 365 days.
            </p>
            <p>
                "cookie_prefs" – stores your choices when using the Cookie Preferences tool. The storage period is 365 days.
            </p>
        </div>
    </div>
    <div class="analytical">
        <label class="analytical__checkbox-label">
            <input type="checkbox" class="checkbox">
            <span class="checkbox-view">
                 <svg class="icon--check" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M14.6888 3.76577C14.7553 3.82397 14.8095 3.89482 14.8484 3.97418C14.8873 4.05354 14.9099 4.13984 14.9152 4.22805C14.9204 4.31626 14.908 4.40463 14.8787 4.48801C14.8495 4.5714 14.804 4.64814 14.7448 4.71377L7.73546 12.4931C7.67601 12.559 7.604 12.6123 7.52366 12.65C7.44332 12.6877 7.35626 12.709 7.26759 12.7126C7.17892 12.7162 7.09043 12.702 7.0073 12.671C6.92416 12.6399 6.84806 12.5926 6.78346 12.5318L2.72746 8.71377C2.60578 8.59758 2.53211 8.43998 2.521 8.27211C2.50989 8.10424 2.56215 7.9383 2.66746 7.8071C2.72431 7.73597 2.79501 7.67713 2.87529 7.63416C2.95557 7.59119 3.04374 7.56498 3.13445 7.55712C3.22517 7.54927 3.31653 7.55993 3.403 7.58846C3.48947 7.61699 3.56924 7.6628 3.63746 7.7231L6.78413 10.5538C6.91552 10.672 7.08849 10.7333 7.26501 10.724C7.44153 10.7148 7.60716 10.6358 7.72546 10.5044L13.7541 3.81977C13.8715 3.68966 14.0353 3.61098 14.2103 3.60075C14.3852 3.59052 14.5571 3.64956 14.6888 3.7651V3.76577Z"
                            fill="#151515"/>
                 </svg>
             </span>
            Analytical and third-party cookies
        </label>
        <p class="analytical__text">These cookies help Us understand how Our website performs, responds, and generally functions when visitors interact with the site and whether there may be any technical issues. We also use third-party tools to measure the performance of our website and the quality of our services. These services may use cookies to process your data for other purposes, including marketing and personalisation. Currently, the site uses only Google Analytics and Yandex Metrica.</p>
    </div>
    <div class="cookie-preferences__btns">
        @@include('button.html', {
        "type": "submit",
        "name":"Save settings",
        "action": "save",
        "active": "active",
        "label": "Save settings button",
        "class": "cookie-preferences__btn-save"
        })
        @@include('button.html', {
        "type": "submit",
        "name":"Agree to all",
        "action": "agree",
        "active": "",
        "label":"Agree to all button",
        "class": "cookie-preferences__btn-agree"
        })
    </div>

</div>