<div class="currency">
        <div class="currency__custom-select" data-select="parent">
            <button class="currency__custom-select-selected" type="button" aria-pressed="false" data-select="select-opener" data-role="button">
                <span data-select="title">Русский</span>
                <svg class="icon icon--arrow-small">
                    <use href="./img/svgsprite/sprite.symbol.svg#arrow-small"></use>
                </svg>
            </button>
            <ul class="currency__select-items" data-select="select-list" style="display: none">
                <li class="currency__select-item">
                    <button type="button" data-role="button" data-select="button">
                        <span> Английский</span>
                    </button>
                </li>
                <li class="currency__select-item">
                    <button type="button" data-role="button" data-select="button">
                        <span>Русский</span>
                    </button>
                </li>
            </ul>
            <div class="currency__currency-wrap">
                @@include('button.html', {
                "type": "button",
                "name":"Рубли, ₽",
                "action": "change",
                "active": "active",
                "class": "currency__currency-item"
                })
                @@include('button.html', {
                "type": "button",
                "name":"Dollars, $",
                "action": "change",
                "active": "",
                "class": "currency__currency-item"
                })
                @@include('button.html', {
                "type": "button",
                "name":"Euro, €",
                "action": "change",
                "active": "",
                "class": "currency__currency-item"
                })
            </div>
        </div>
</div>