<div class="container" style="position: relative">
    <div class="favorites-message-modal-header visually-hidden" role="dialog" id="favorites-message-modal-header"
         aria-modal="true">
        <button type="button" class="favorites-message-modal-header__close-btn" aria-label="Close modal">
            <svg class="icon icon--close" aria-hidden="true">
                <use href="./img/svgsprite/sprite.symbol.svg#close"></use>
            </svg>
        </button>
        <div class="favorites-message-modal-header__content">
    <span class="favorites-message-modal-header__title" role="heading">
        Теперь ваши игры всегда рядом
    </span>
            <p class="favorites-message-modal-header__message">
                В <a href="#">настройках</a> можно выбрать, будут ли игры в избранном отображаться в раскрытом виде или
                доступны
                через иконку.
            </p>
        </div>
    </div>
</div>