<div class="favorites-message-modal visually-hidden container" role="dialog" id="favorites-message-modal" aria-modal="true">
    <button type="button" class="favorites-message-modal__close-btn" aria-label="Close modal">
        <svg class="icon icon--close" aria-hidden="true">
            <use href="./img/svgsprite/sprite.symbol.svg#close"></use>
        </svg>
    </button>
    <div class="favorites-message-modal__content">
    <span class="favorites-message-modal__title" role="heading">
        Теперь ваши игры всегда рядом
    </span>
        <p class="favorites-message-modal__message">
            В <a href="#">настройках</a> можно выбрать, будут ли игры в избранном отображаться в раскрытом виде или
            доступны
            через иконку.
        </p>
    </div>
</div>