<div class="first-favorites-menu visually-hidden">
   <div class="first-favorites-menu__top">
       <div>
           <svg class="icon icon--heart">
               <use href="./img/svgsprite/sprite.symbol.svg#heart"></use>
           </svg>
           <span class="first-favorites-menu__top-title">Избранное</span>
       </div>
       <button class="first-favorites-menu_top-btn" type="button" aria-label="вернуться назад">
           <svg class="icon icon--arrow-small">
               <use href="./img/svgsprite/sprite.symbol.svg#arrow-small"></use>
           </svg>
       </button>

   </div>
    @@include('favorites-message-modal.html',{})
</div>
