<footer class="footer container">
    <ul class="soc">
        <li class="soc__item">
            <a href="#" class="soc__item-link" aria-label="vkontact link" target="_blank">
            <svg class="icon icon--vk">
                <use href="./img/svgsprite/sprite.symbol.svg#vk"></use>
            </svg>
            </a>
        </li>
        <li class="soc__item">
            <a href="#" class="soc__item-link" aria-label="telegram link" target="_blank">
            <svg class="icon icon--tg">
                <use href="./img/svgsprite/sprite.symbol.svg#tg"></use>
            </svg>
            </a>

        </li>
        <li class="soc__item">
            <a href="#" class="soc__item-link" aria-label="youtube link" target="_blank">
            <svg class="icon icon--youtube">
                <use href="./img/svgsprite/sprite.symbol.svg#youtube"></use>
            </svg>
            </a>
        </li>
        <li class="soc__item">
            <a href="#" class="soc__item-link" aria-label="facebook link" target="_blank">
            <svg class="icon icon--facebook">
                <use href="./img/svgsprite/sprite.symbol.svg#facebook"></use>
            </svg>
            </a>
        </li>
    </ul>
    <ul class="policies">
        <li class="policies__item">
            <button  type="button" class="policies__item-btn">
                <span>Политика конфиденциальности</span>
            </button>
        </li>
        <li class="policies__item">
            <button  type="button" class="policies__item-btn" id="cookie-policy">
                <span>Политика cookies</span>
            </button>
        </li>
    </ul>
</footer>
