<div class="help-modal visually-hidden" id="help-modal">
    <ul class="help-modal__list">
        <li class="help-modal__list-item" id="help-modal-favorites">
            <div class="help-modal__list-item-wrap">
                <svg class="icon icon--empty-heart" aria-hidden="true">
                    <use href="./img/svgsprite/sprite.symbol.svg#empty-heart"></use>
                </svg>
                <span>Избранное</span>
            </div>
        </li>
        <li class="help-modal__list-item">
            <a class="help-modal__list-item-wrap" href="#">
                <svg class="icon icon--guarantee" aria-hidden="true">
                    <use href="./img/svgsprite/sprite.symbol.svg#guarantee"></use>
                </svg>
                <span>Гарантии</span>
            </a>
        </li>
        <li class="help-modal__list-item">
            <a class="help-modal__list-item-wrap" href="#">
                <svg class="icon icon--label" aria-hidden="true">
                    <use href="./img/svgsprite/sprite.symbol.svg#label"></use>
                </svg>
                <span>For Resellers</span>
            </a>
        </li>
        <li class="help-modal__list-item">
            <a class="help-modal__list-item-wrap" href="#">
                <svg class="icon icon--info" aria-hidden="true">
                    <use href="./img/svgsprite/sprite.symbol.svg#info"></use>
                </svg>
                <span>Центр помощи</span>
            </a>
        </li>
        <li class="help-modal__list-item">
            <a class="help-modal__list-item-wrap" href="#">
                <svg class="icon icon--rule" aria-hidden="true">
                    <use href="./img/svgsprite/sprite.symbol.svg#rule"></use>
                </svg>
                <span>Правила</span>
            </a>
        </li>
        <li class="help-modal__list-item">
            <a class="help-modal__list-item-wrap" href="#">
                <svg class="icon icon--question" aria-hidden="true">
                    <use href="./img/svgsprite/sprite.symbol.svg#question"></use>
                </svg>
                <span>Запрос в поддержку</span>
            </a>
        </li>
        <li class="help-modal__list-item">
            <a class="help-modal__list-item-wrap help-modal__list-item-text" href="#">
                <svg class="icon icon--question" aria-hidden="true">
                    <use href="./img/svgsprite/sprite.symbol.svg#question"></use>
                </svg>
                <span>Мои запросы</span>
                <span class="help-modal__list-item-count">4</span>
            </a>
        </li>
    </ul>
</div>