<label for="@@inputId" class="visually-hidden">Пароль</label>
<div class="input-wrap">
    <input type="password" placeholder="Пароль" class="input input-password
 @@inputClass" id="@@inputId" autocomplete="new-password">
    <button type="button" class="input-password__btn">
        <svg class="icon icon--no-eye show-password">
            <use href="./img/svgsprite/sprite.symbol.svg#no-eye"></use>
        </svg>
        <svg class="icon icon--eye hide-password">
            <use href="./img/svgsprite/sprite.symbol.svg#eye"></use>
        </svg>
    </button>
</div>

<span class="inputError"></span>
<span class="inputInfo">@@info</span>
