<div class="my-games" id="my-games"
     aria-labelledby="my-games-title">
    <div class="my-games__top-wrap">
         <span class="my-games__title"
               role="heading" id="my-games-title">Мои игры
         </span>
        <button class="my-games__btn" type="button" aria-label="close" tabindex="0">
            <svg class="icon icon--close">
                <use href="./img/svgsprite/sprite.symbol.svg#close"></use>
            </svg>
        </button>
    </div>
    <ul class="my-games__list">
        <li class="my-games__list-item">
            @@include('game-status-card.html',{
            "img": "./img/often-searched/img1.jpg",
            "title": "Game" ,
            "status": "",
            "class": ""})
        </li>
        <li class="my-games__list-item">
            @@include('game-status-card.html',{
            "img": "./img/often-searched/img2.jpg",
            "title": "Game",
            "status": "",
            "class": ""} )
        </li>
        <li class="my-games__list-item my-games__list-item--hidden">
            @@include('game-status-card.html',{
            "img": "./img/often-searched/img3.jpg",
            "title": "Game",
            "status": "",
            "class": ""} )
        </li>
        <li class="my-games__list-item my-games__list-item--hidden">
            @@include('game-status-card.html',{
            "img": "./img/often-searched/img3.jpg",
            "title": "Game",
            "status": "",
            "class": ""} )
        </li>
    </ul>
</div>