<div class="often-searched"  id="often-searched">
    <div class="often-searched__search-wrap">
        <button type="button" class="often-searched__btn-back">
            <svg class="icon icon--arrow-back" aria-hidden="true">
                <use href="./img/svgsprite/sprite.symbol.svg#arrow-back"></use>
            </svg>
        </button>
        <div class="often-searched__search">
            <label for="often-searched-input" id="search-label" class="visually-hidden">Поиск</label>
            <span class="often-searched__search-icon">
                <svg class="icon icon--search" aria-hidden="true">
                    <use href="./img/svgsprite/sprite.symbol.svg#search"></use>
                </svg>
            </span>
            <input type="text" placeholder="Поиск по 469 играм" class="often-searched__search-input" id="often-searched-input"
                   name="search">
            <button class="often-searched__search-close-btn" type="button" aria-label="clear input" style="display: none">
                <svg class="icon icon--close" aria-hidden="true">
                    <use href="./img/svgsprite/sprite.symbol.svg#close"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="often-searched__content">
    <div class="not-found">
        <span class="not-found__title">Ничего не найдено</span>
        <span class="not-found__text">
            Попробуйте другой запрос
        </span>
    </div>
        <div class="found">
            <ul class="found__list">
                <li class="found__list-item">
                    @@include('game-status-card.html',{
                    "img": "./img/often-searched/img1.jpg",
                    "title": "Aion Classic" ,
                    "status": "",
                    "class": ""})
                </li>
                <li class="found__list-item">
                    @@include('game-status-card.html',{
                    "img": "./img/often-searched/img2.jpg",
                    "title": "Assassin’s Creed",
                    "status": "",
                    "class": ""} )
                </li>
                <li class="found__list-item">
                    @@include('game-status-card.html',{
                    "img": "./img/often-searched/img3.jpg",
                    "title": "Assassin’s Creed",
                    "status": "",
                    "class": ""} )
                </li>
                <li class="found__list-item">
                    @@include('game-status-card.html',{
                    "img": "./img/often-searched/img1.jpg",
                    "title": "Aion Classic" ,
                    "status": "",
                    "class": ""})
                </li>
                <li class="found__list-item">
                    @@include('game-status-card.html',{
                    "img": "./img/often-searched/img2.jpg",
                    "title": "Assassin’s Creed",
                    "status": "",
                    "class": ""} )
                </li>
                <li class="found__list-item">
                    @@include('game-status-card.html',{
                    "img": "./img/often-searched/img3.jpg",
                    "title": "Assassin’s Creed",
                    "status": "",
                    "class": ""} )
                </li>
            </ul>
        </div>
    <div class="searched" aria-labelledby="searched-title">
        <span class="searched__title" role="heading" id="searched-title">
        Вы искали
        </span>
        <ul class="searched__list">
            <li class="searched__list-item">
                @@include('game-status-card.html',{
                "img": "./img/often-searched/img1.jpg",
                "title": "Aion Classic" ,
                "status": "",
                "class": ""})
            </li>
            <li class="searched__list-item">
                @@include('game-status-card.html',{
                "img": "./img/often-searched/img2.jpg",
                "title": "Assassin’s Creed",
                "status": "",
                "class": ""} )
            </li>
        </ul>
    </div>
    <div aria-labelledby="often-searched-title">
        <span class="often-searched__title" role="heading" id="often-searched-title">
            Часто ищут
        </span>
        <ul class="often-searched__list">
            <li class="often-searched__list-item">
                <img src="./img/often-searched/img1.jpg" class="often-searched__list-item-img" alt="game cover">
                <span class="often-searched__list-item-text">Roblox</span>
            </li>
            <li class="often-searched__list-item">
                <img src="./img/often-searched/img2.jpg" class="often-searched__list-item-img" alt="game cover">
                <span class="often-searched__list-item-text">Aliens: Dark Descent</span>
            </li>
            <li class="often-searched__list-item">
                <img src="./img/often-searched/img3.jpg" class="often-searched__list-item-img" alt="game cover">
                <span class="often-searched__list-item-text">PUBG Mobile</span>
            </li>
            <li class="often-searched__list-item">
                <img src="./img/often-searched/img4.jpg" class="often-searched__list-item-img" alt="game cover">
                <span class="often-searched__list-item-text">Aliens: Dark Descent</span>
            </li>
            <li class="often-searched__list-item">
                <img src="./img/often-searched/img5.jpg" class="often-searched__list-item-img" alt="game cover">
                <span class="often-searched__list-item-text">World of Warcraft Classi</span>
            </li>
            <li class="often-searched__list-item">
                <img src="./img/often-searched/img6.jpg" class="often-searched__list-item-img" alt="game cover">
                <span class="often-searched__list-item-text">Genshin Impact</span>
            </li>
        </ul>
    </div>
    </div>
</div>
