<div class="secret-chat">
    <div class="secret-chat__wrap">
        <div class="chat-header chat-mobile">
            <h2 class="chat-header__title">Секретный чат</h2>
            <div class="chat-header__info-wrap">
                <svg class="icon icon--info">
                    <use href="./img/svgsprite/sprite.symbol.svg#info"></use>
                </svg>
                <span class="chat-header__alert">Продажа в чате запрещена! см. <a href="#">Правила сервиса</a></span>
            </div>
        </div>

        <div class="chat-messages">
            <div class="chat-header-wrap">
                <div class="chat-header chat-tablet">
                    <h2 class="chat-header__title">Секретный чат</h2>
                    <div class="chat-header__info-wrap">
                        <svg class="icon icon--info">
                            <use href="./img/svgsprite/sprite.symbol.svg#info"></use>
                        </svg>
                        <span class="chat-header__alert">Продажа в чате запрещена! см. <a
                                href="#">Правила сервиса</a></span>
                    </div>
                </div>
                <div class="complaint">
                    <button class="complaint__btn" type="submit" aria-label="Пожаловаться">
                        <span class="complaint__icon-wrap">
                            <svg class="icon icon--alert">
                                <use href="./img/svgsprite/sprite.symbol.svg#alert"></use>
                            </svg>
                        </span>
                        <span class="chat-mobile">
                        Пожаловаться
                        </span>
                    </button>
                    <button type="button" class="complaint__btn-new">
                        В новой вкладке
                        <svg class="icon icon--arrow-diagonal">
                            <use href="./img/svgsprite/sprite.symbol.svg#arrow-diagonal"></use>
                        </svg>

                    </button>
                </div>
            </div>
            <div class="chat-content">
                <ul class="message">
                    <li class="message__item">
                        <div class="avatar">
                            <img src="./img/avatar.png" alt="Avatar">
                        </div>
                        <div class="message__item-content">
                            <span class="message__item-content-username">K1tsune3</span>
                            <span class="message__item-content-text">
                        Зарубеж карты есть у кого если нет пиши мне
                    </span>
                            <time class="message__item-content-time">20:34</time>
                        </div>
                    </li>
                    <li class="message__item">
                        <div class="avatar">
                            <img src="./img/avatar.png" alt="Avatar">
                        </div>
                        <div class="message__item-content">
                            <span class="message__item-content-username">K1tsune3</span>
                            <span class="message__item-content-text">
                        Зарубеж карты есть у кого если нет пиши мне
                    </span>
                            <time class="message__item-content-time">20:34</time>
                        </div>
                    </li>
                    <li class="message__item">
                        <div class="avatar">
                            <img src="./img/avatar.png" alt="Avatar">
                        </div>
                        <div class="message__item-content">
                            <span class="message__item-content-username">K1tsune3</span>
                            <span class="message__item-content-text">
                        Зарубеж карты есть у кого если нет пиши мне  Зарубеж карты есть у кого если нет пиши мне  Зарубеж карты есть у кого если нет пиши мне
                    </span>
                            <time class="message__item-content-time">20:34</time>
                        </div>
                    </li>
                    <li class="message__item">
                        <div class="avatar">
                            <img src="./img/avatar.png" alt="Avatar">
                        </div>
                        <div class="message__item-content">
                            <span class="message__item-content-username">K1tsune3</span>
                            <span class="message__item-content-text">
                        Зарубеж карты есть у кого если нет пиши мне
                    </span>
                            <time class="message__item-content-time">20:34</time>
                        </div>
                    </li>
                    <li class="message__item">
                        <div class="avatar">
                            <img src="./img/avatar.png" alt="Avatar">
                        </div>
                        <div class="message__item-content">
                            <span class="message__item-content-username">K1tsune3</span>
                            <span class="message__item-content-text">
                        Зарубеж карты есть у кого если нет пиши мне
                    </span>
                            <time class="message__item-content-time">20:34</time>
                        </div>
                    </li>
                </ul>
                <div class="my-message">
             <span class="my-message__text">
                       куплю прайм статус на аккаунт кс2 подарком за 1000руб в лс
             </span>
                    <time class="my-message__time">20:34</time>
                </div>
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Ваше сообщение">
                <button type="submit">
                    <svg class="icon icon--arrow">
                        <use href="./img/svgsprite/sprite.symbol.svg#arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>


