<section class="trend" aria-labelledby="trend-title">
    <div class="trend__title-wrap">
        <h2 class="trend__title" id="trend-title">В тренде</h2>
        <svg class="icon icon--fire" aria-hidden="true">
            <use href="./img/svgsprite/sprite.symbol.svg#fire"></use>
        </svg>
        <div class="trend__buttons">
            @@include('button-arrow.html', {
            "class": "swiper-button-prev swiper-button-prev-trend",
            "aria-label": "Previous slide"
            })
            @@include('button-arrow.html', {
            "class": "swiper-button-next swiper-button-next-trend",
            "aria-label": "Next slide"
            })
        </div>
    </div>
        <div class="swiper" id="trend">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <a class="swiper-slide__link" href="#">
                        @@include("trend-card.html", {
                        "img": "./img/trend-card/game1.jpg",
                        "img2":"./img/trend-card/game1-desc.jpg",
                        "title": "Honkai Star Rail",
                        "description": "Встречайте нового героя-Доктор Рацио",
                        "link": "556 предложений",
                        "status": "хит",
                        "class-status":"status-card--hit"
                        } )
                    </a>
                </li>
                <li class="swiper-slide">
                    <a class="swiper-slide__link" href="#">
                        @@include("trend-card.html", {
                        "img": "./img/trend-card/game2.jpg",
                        "img2":"./img/trend-card/game2-desc.jpg",
                        "title": "Genshin Impact",
                        "description": "Новый баннер «Стихи из винного кубка»",
                        "link": "11 789 предложений",
                        "status" : "топ",
                        "class-status" :"status-card--top"
                        } )
                    </a>
                </li>
                <li class="swiper-slide">
                    <a class="swiper-slide__link" href="#">
                        @@include("trend-card.html", {
                        "img": "./img/trend-card/game3.jpg",
                        "img2":"./img/trend-card/game3-desc.jpg",
                        "title": "Armored Core VI: Fires of Rubicon",
                        "description": "Большое обновление с патчем 1.12",
                        "link": "2 411 предложений",
                        "status" : "NEW",
                        "class-status" :"status-card--new"
                        } )
                    </a>
                </li>
                <li class="swiper-slide">
                    <a class="swiper-slide__link" href="#">
                        @@include("trend-card.html", {
                        "img": "./img/trend-card/game4.jpg",
                        "img2":"./img/trend-card/game4-desc.jpg",
                        "title":"Brawl Stars",
                        "description": "Новый сезон, 10 новых бравлеров",
                        "link": "15 789 предложений",
                        "status" : "хит",
                        "class-status" :"status-card--hit"
                        } )
                    </a>
                </li>
                <li class="swiper-slide">
                    <a class="swiper-slide__link" href="#">
                        @@include("trend-card.html", {
                        "img": "./img/trend-card/game1.jpg",
                        "img2":"./img/trend-card/game1-desc.jpg",
                        "title": "Honkai Star Rail",
                        "description": "Встречайте нового героя-Доктор Рацио",
                        "link": "556 предложений",
                        "status": "хит",
                        "class-status":"status-card--hit"
                        } )
                    </a>
                </li>
                <li class="swiper-slide">
                    <a class="swiper-slide__link" href="#">
                        @@include("trend-card.html", {
                        "img": "./img/trend-card/game1.jpg",
                        "img2":"./img/trend-card/game1-desc.jpg",
                        "title": "Honkai Star Rail",
                        "description": "Встречайте нового героя-Доктор Рацио",
                        "link": "556 предложений",
                        "status": "хит",
                        "class-status":"status-card--hit"
                        } )
                    </a>
                </li>
            </ul>
        </div>
    <div class="trend-pagination container" aria-label="Trend pagination controls"></div>
</section>