<div class="trend-card">
    <div class="trend-card__img-wrap">
        <picture>
            <source srcset="@@img2" media="(min-width: 768px)">
            <source srcset="@@img" media="(max-width: 767px)">
            <img class="trend-card__img" src="@@img2" alt="@@title">
        </picture>
        <span class="status-card @@class-status">@@status</span>
    </div>

    <div class="trend-card__wrap">
        <h3 class="trend-card__title">@@title</h3>
        <span class="trend-card__description">@@description</span>
        <span class="trend-card__link">@@link</span>
    </div>
</div>